body {
  color: #333;
  font-family: "Courier";
  padding: 20px;
  text-align: left;
  padding: 0 20%
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.top_menu {
  ul {
    padding-left: 0
  }
}

.git_commits {
  list-style: none;
  padding-left: 10px;
}

#footer {
  font-size: 12px;
  padding-top: 10px;
  border-top: 1px solid;
}
