<!doctype html>
<html>
  <%= partial 'layouts/head' %>
  <body>
    <%= partial 'layouts/header' %>

    <i>Disclaimer: These my raw thoughts and opinions, ideas expressed may not be fully formed or completely factual.</i>

    <%= yield %>
    <%= partial 'layouts/footer' %>
  </body>
</html>
