---
title: Jonathan Glassey
---

<div class='top_menu'>
  <p> Blog Posts </p>
  <p>> Lengthy posts about a single topic. </p>
    <% blog_pages = sitemap.resources.select { |f| f.path.include? 'blog/' } %>

    <% blog_pages.each do |b| %>
      <%= link_to b.data&.title, b.path %>
    <% end %>
</div>

<div class='top_menu'>
  <p> Notes </p>
  > My raw interpretations and impressions, may not be as well written or fact-checked as a blog post.<br/><br/>

    <% notes = sitemap.resources.select { |f| f.path.include? 'notes/' } %>

    <% notes.each do |b| %>
      <%= link_to b.data&.title, b.path %>
    <% end %>
</div>

<div class='top_menu'>
  <p>Various Other Things</p>
    <%= link_to 'About', '/about.html' %>
    <%= link_to 'Project Ideas', '/ideas.html' %>
</div>
